

.filters {
  margin: 0;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 13rem;
  text-shadow: none;
  background-image: none;
  padding: 1.5rem 0.2rem;
  margin-left: 250px;
  border-radius: 3px;
  cursor: pointer;
}

@media screen and (max-width: 778px) {

  #filters, #main {
    flex: none;
  }

  #filters {
    height: 15rem;
    margin-left: 0;
    margin-top: 10px;
  }

}
